.h2 {
  color: white;
  margin-top: 0;
  padding-top: 10vh;
}

.container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

.login {
  width: 100%;
  padding:  15px;
  background-color: #28d2d1;
  color: #ffffff;
  border-style: none;
}
.formlogin {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.inputlogin {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formRow {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  gap: 8px;
  display: flex;
  justify-content: space-between;
}
.formLabel {
  border: 2px solid #ffffff;
  width: 100%;
  margin: auto;
  margin-bottom: 12px;
  padding: 0 10px;
}
